.body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-image: url("../img/background_01.png");
}

.main {
  padding: 8em 10em 33em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 2em;
  background-color: $purple-light;
  border-radius: 10px;
}
