.block-4 {
  grid-column: 10 / span 3;
  @include mobile {
    grid-column: span 6;
    text-align: center;
  }
}

.btn__click {
  @include btn;
  padding: 2em;
  box-shadow: $shadow;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: lowercase;
  transition: all 0.2s;

  &:hover {
    background-color: $purple-light;
    transition: all 0.3s;
  }
}
