.block-1 {
  grid-column: 1 / span 3;
  @include mobile {
    grid-column: span 6;
  }
}

.time {
  padding: 1em;
  background-color: $deep-blue;
  border-radius: 10px;
  border: 1px solid $medium-blue;
  box-shadow: $shadow;
}
