.block-3 {
  grid-column: 6 / span 3;
  background-color: $deep-blue;
  border-radius: 10px;
  border: 1px solid $medium-blue;
  box-shadow: $shadow;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
