<div class="wrapper">
  <div class="block-1">
      <button id="buttonClick" type="button" class="btn__click" value="Click">Click on me</button>
  </div>
  <div clas="block-2">
      <div class="counter">
          <div class="counter__text">
              <h2 class="container__text--title">counter</h2>
              <h3 id="counter">0</h3>
          </div>
          <div class="counter__btn">
              <button type="button" class="minusBtn counterBtn btn" value="minus"></button>
              <button type="button" class="plusBtn counterBtn btn" value="plus"></button>
          </div>
      </div>
  </div>
</div>
