<footer class="footer">
  <div class="footer__links">
    <section>
      <a href="https://github.com/gbsk-an" class="footer__links--item">
        <img loading="lazy" src="../img/svg/github.svg" role="img" alt="Github">
      </a>
      <a href="https://t.me/gubskaya_ann" class="footer__links--item">
        <img loading="lazy" src="../img/svg/telegram.svg" role="img" alt="Telegram">
      </a>
    </section>
  </div>
  <div class="footer__copyright">
    <p>© 2022 Copyright</p>
  </div>
</footer>
